body {
    background: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}
div.topnav{
    overflow: hidden;
    /*border: black 5px solid;*/
    background: black;
    color: white;
}
div.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: inline;

}
div.topnav a{
    float: left;
    padding: 2% 10%;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}
div.sidenav{
    width: 20%;
    height: 500px;
    top: 13.5%;
    overflow-x: hidden;
    /*border: black 5px solid;*/
    float: left;
}
div.sidenav a{
    text-decoration: none;
    padding: 3%;
    font-size: 16px;
    display: block;
}
div.schedules{
    width: 60%;
    height: 500px;
    float: left;

    /*border: black 5px solid;*/
    background: white;
}
div.schedules p{
    padding: 0 20%;
}
input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #1cd200;
    color: white;
    padding: 10px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 80%;
}
div.schedules a:hover{
    background: white;
}
/*#login-content{
    padding: 0px 40%;
    height: 50%;
}
#signUp-content{
    padding: 0px 40%;
    height: 50%;
}*/
#div1{
    width: 50%;
    float: left;
}
#div2{
    width: 50%;
    float: right;
}
#schedules{
    padding-left: 20%;
}
.dropdown {
    float: left;
    overflow: hidden;
    display: inline;
}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: inherit;
    font-family: inherit;
}
.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: white;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20%;

    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;*/
}
.dropdown-content a {
    float: none;
    color: black;
    /*padding: 12px 16px;*/
    width: 90%;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
th, td {
    text-align: center;
    border: 1px dotted black;
}
.hidden{
    display: none;
}
.modal {
    /*display:none;*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #888888;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 30%;
    padding-bottom: 30px;
    text-align: center;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}